*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comparador-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    cursor: e-resize;
}

.comparador-container .comparador-item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.comparador-container .comparador-item:nth-child(1){
    background: url('../img/a.png') center center;
    background-color: red;
}

.comparador-container .comparador-item:nth-child(2){
    background: url('../img/b.png') center center;
    background-color: black;
    background-attachment: fixed;
    left: 50%;
}